/* line 5, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
html {
  background: url("/assets/front.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF;
  font-family: 'Open Sans Condensed', sans-serif;
}

/* line 14, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
main {
  width: 30%;
  height: 30%;
  position: absolute;
  right: 10%;
  top: 25%;
}

/* line 21, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
footer {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  padding: 10px 120px 10px 10px;
  margin: 0px;
  left: 0px;
  bottom: 3%;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
}

/* line 31, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
.main {
  padding: 10px 20px 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 40px;
}

/* line 38, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
main > #head {
  font-size: 5em;
}

/* line 41, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
a:link, a:visited {
  color: #ACEAFF;
  text-decoration: none;
}

/* line 45, /home/bartek/rails/landing_page/app/assets/stylesheets/contact.css.scss */
a:hover {
  text-decoration: underline;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

