<div class="welcome">findCanoe.com is a multi-country canoe renting search engine. We plan to build the biggest renting platform for canoe and kayaks in the whole of the United States. Please write down your e-mail address if you want to be informed about the site launch and to get discounts for canoe and kayak renting, booking your trip and more. If you are an owner of a renting place please contact us. You will find an e-mail address in the footer at the bottom of this page. 
</div>
<% @error.try(:each) do |error| %>
<span class="error"><%= error %></span><br />
<% end %>
<%= form_tag(:contact_sent, method: "post") do %>
  <%= text_field_tag :q, nil, placeholder: 'E-Mail' %>
  <%= submit_tag("Subscribe", class: 'subscribe') %>
<% end %>
