// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    html { 
      background: url(image_path('front.jpg')) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: #FFF;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
    }
    main {
      width: 80%;
      height: 30%;
      position: absolute;
      right: 10%;
      top: 25%; 
    }
    footer {
      font-weight: 300;
      position: absolute;
      padding: 10px 120px 10px 10px;
      margin:0px;
      left:0px;
      bottom: 3%; 
      background-color: rgba(0, 0, 0, 0.3);
      color: rgba(255,255,255,0.5)
    }
    .main {
      margin-top: 15px;
      color: #000;
      padding:10px 20px 10px 20px;
      background-color: rgba(255, 255, 255, 0.9);
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 40px;
    }
    main > #head {
      font-size:5em;
      font-weight: 100;
    }
    a:link, a:visited {
      color: #ACEAFF;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
     main form {
      text-align: center;
     }
     main input  { 
    padding: 8px; 
    border-radius: 3px; 
    border: 1px solid #CCC; 
    background-image: none; 
    width:220px; 
    margin:10px 0 20px 0;
    } 
     main input:focus { 
    outline-color: #54B4AD; 
    } 
     main input.subscribe {
      width: 80px;
     }
     .error {
     color: red;
     font-weight: bold;
     }
     .welcome {
      font-size: 1.2em;
      padding:10px;
     }
