<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300' rel='stylesheet' type='text/css'>
  <title>FindCanoe.com</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body>
  <main>
    <%= image_tag("logo.png", alt: "findCanoe.com")  %>
    <div class="main">


<%= yield %>


    </div>
  </main>

      <footer>
        <b>Copyright &copy; by <a href="http://wyprawsie.pl">Wyprawsie.pl</a></b><br>
        If you need additional information please contact <a href="mailto:kontakt@wyprawsie.pl">kontakt@wyprawsie.pl</a>. Thank you for your interest.
      </footer>
</body>
</html>
